<ion-view view-title="{{ title }}">
  <ion-content>
        <center><h2>C'est parti !</h2></center>
      <!-- <div class="row">
        <button ng-click="click()" class="button button-block button-positive">
          Click me !
        </button>
      </div> -->
    <div class="row">
      <div id="zoneAuto">
        <div ng-click="loose()" class="bg">

        </div>
        <div ng-click="win()" id="rebondAuto"></div>
      </div>
    </div>
    <center><h3>Votre score est de <strong>{{ myGame.count }}</strong></h3></center>
  </ion-content>
</ion-view>
